html {
  height: 100%;
}
html body {
  height: 100%;
  font-family: "Oswald", sans-serif;
}
html body #contenedor {
  display: block;
  min-height: 100%;
  position: relative;
}
html body #contenedor .m1 {
  width: 300px;
  height: 100%;
}
html body #contenedor .m2 {
  width: 100%;
  height: 100px;
}
html body #contenedor .menu {
  position: fixed;
}
html body #contenedor .menu .cont_menu {
  position: relative;
  width: 100%;
  height: 100%;
}
html body #contenedor .menu .cont_menu .data_menu {
  width: calc(100% - 20px);
  padding-right: 20px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
html body #contenedor .menu .cont_menu .data_menu .cont_data_menu {
  width: 100%;
  height: 100%;
  background: #ddd;
  position: relative;
}
html body #contenedor .menu .cont_menu .data_menu .cont_data_menu ul {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 140px;
}
html body #contenedor .menu .cont_menu .data_menu .cont_data_menu ul li {
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 5px 10px;
  font-size: 20px;
}
html body #contenedor .menu .cont_menu .data_menu .cont_data_menu .info_bottom {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 10px;
}
html body #contenedor .menu .cont_menu .data_menu .cont_data_menu .info_bottom .info_dtl {
  display: block;
  padding: 0px 5px;
  font-size: 12px;
  text-align: right;
}
html body #contenedor .menu .cont_menu .btn_menu {
  width: 36px;
  height: 32px;
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 2;
}
html body #contenedor .menu .cont_menu .btn_menu .cont_btn_menu {
  width: 100%;
  height: 100%;
  position: relative;
}
html body #contenedor .menu .cont_menu .btn_menu .cont_btn_menu .linea {
  width: 100%;
  height: 8px;
  background: #000;
  position: absolute;
}
html body #contenedor .menu .cont_menu .btn_menu .cont_btn_menu .l1 {
  top: 0px;
  left: 0px;
}
html body #contenedor .menu .cont_menu .btn_menu .cont_btn_menu .l2 {
  bottom: 0px;
  left: 0px;
}
html body #contenedor .pop_up {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 6;
  top: 0px;
  left: 0px;
}
html body #contenedor .pop_up .cont_pop {
  width: 100%;
  height: 100%;
  position: relative;
}
html body #contenedor .pop_up .cont_pop .pop {
  width: 90%;
  min-width: 300px;
  max-width: 360px;
  background: #fff;
  border-radius: 10px;
}
html body #contenedor .pop_up .cont_pop .pop .cp {
  display: block;
  padding: 30px;
  position: relative;
}
html body #contenedor .pop_up .cont_pop .pop .cp .close {
  position: absolute;
  width: 34px;
  height: 34px;
  background: #fff;
  top: -12px;
  right: -12px;
  border-radius: 34px;
  border: 2px solid #666;
}
html body #contenedor .pop_up .cont_pop .pop .cp .close .cc {
  position: absolute;
  background: #666;
  transform: rotate(45deg);
}
html body #contenedor .pop_up .cont_pop .pop .cp .close .c1 {
  width: 26px;
  height: 4px;
  top: 15px;
  left: 4px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .close .c2 {
  width: 4px;
  height: 26px;
  left: 15px;
  top: 4px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .titulo {
  font-size: 30px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario {
  display: block;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form {
  padding-top: 15px;
  padding-bottom: 15px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form h3 {
  font-size: 18px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form .input {
  display: block;
  padding-bottom: 4px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form .input input {
  width: calc(100% - 2px);
  height: 35px;
  border: 1px solid #999;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form .input textarea {
  width: calc(100% - 2px);
  height: 60px;
  border: 1px solid #999;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form h6 {
  font-size: 16px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form .acciones {
  display: block;
  padding-top: 10px;
}
html body #contenedor .pop_up .cont_pop .pop .cp .formulario form .acciones input {
  padding: 10px 30px;
  border: 1px solid #999;
}
html body #contenedor .sitio {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
html body #contenedor .sitio .cont_sitio {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina {
  position: fixed;
  width: 100%;
  height: 140px;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #999;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_mobile {
  width: 240px;
  height: 100px;
  background: #666;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web {
  width: 96%;
  max-width: 850px;
  height: 100px;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo {
  width: 100%;
  height: 100%;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .logo {
  width: 240px;
  height: 100px;
  left: 0px;
  background: #999;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones {
  width: calc(100% - 240px);
  right: 0px;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones .btns {
  padding: 10px 0px;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones .btns .btn {
  float: right;
  font-size: 18px;
  text-align: right;
  color: #999;
  font-weight: bold;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones .btns .btn1 {
  width: 110px;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones .btns .btn2 {
  width: 159px;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones .btns .btn3 {
  width: 120px;
}
html body #contenedor .sitio .cont_sitio .titulo_pagina .logo_pagina_web .cont_logo .botones .btns .btn4 {
  width: 100px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 100%;
  z-index: 1;
  margin: 10px 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion {
  width: 96%;
  max-width: 850px;
  margin: 0px auto;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas {
  width: 100%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta {
  float: left;
  width: 25%;
  height: 85px;
  position: relative;
  color: #666;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .data {
  width: 92%;
  left: 4%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .data h2 {
  font-size: 14px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .data h1 {
  font-size: 2.2em;
  line-height: 20px;
  text-shadow: 1px 1px #fff;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .close {
  width: 16px;
  height: 16px;
  position: absolute;
  transform: rotate(45deg);
  top: 4px;
  right: 4px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .close .cont_close {
  position: relative;
  width: 100%;
  height: 100%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .close .cont_close .line {
  background: #666;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .close .cont_close .l1 {
  width: 100%;
  height: 3px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .pregunta .close .cont_close .l2 {
  height: 100%;
  width: 3px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .preguntas .selected {
  background: #666;
  color: #fff;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .info_titulo {
  display: block;
  font-size: 26px;
  color: #999;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .info_subtitulo {
  display: block;
  font-size: 16px;
  color: #999;
  padding-left: 10px;
  padding-right: 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .list_servicios {
  display: block;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .list_servicios .servicio {
  display: block;
  font-size: 20px;
  padding: 10px 6px;
  border-bottom: 1px solid #999;
  color: #666;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .list_doctores {
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .list_doctores .doctor {
  display: block;
  font-size: 20px;
  padding: 10px 6px;
  border-bottom: 1px solid #999;
  color: #666;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha {
  display: block;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl {
  padding: 10px 5px 5px 10px;
  color: #666;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl .dtl_titulo {
  font-size: 24px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl .dtl_descripcion {
  font-size: 14px;
  padding-top: 6px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl .dtl_doctor {
  font-size: 14px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl .dtl_precio {
  font-size: 14px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl .dtl_tiempo {
  font-size: 14px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .detalle .cont_dtl .dtl_html_1 {
  font-size: 14px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario {
  background: #bbb;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar {
  background: #fff;
  padding: 5px 5px 0px 5px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .calendar_titulo {
  font-size: 22px;
  text-align: center;
  padding: 8px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar {
  border-right: 1px solid #000;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_semana {
  background: #33c;
  width: calc(14.2857% - 1px);
  float: left;
  height: 40px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  position: relative;
  color: #fff;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_semana .semana_info {
  text-align: center;
  font-size: 18px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_dia {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  width: calc(14.2857% - 1px);
  float: left;
  height: 40px;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_dia .dia_info {
  text-align: center;
  font-size: 14px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_dia .dia_info .cont_dia_info {
  background: #99f;
  width: 96%;
  height: 96%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_dia2 {
  width: 14.2857%;
  float: left;
  height: 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .calendar_dia3 {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  width: calc(14.2857% - 1px);
  float: left;
  height: 40px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .calendario .table_calendar .row_calendar .selected {
  background: #ddd;
  cursor: pointer;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .horas {
  background: #ddd;
  overflow-y: scroll;
  height: 410px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .horas .cont_hrs {
  padding: 5px 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .horas .cont_hrs .titulo_hrs {
  font-size: 22px;
  padding-bottom: 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .horas .cont_hrs .lista_hrs .hora {
  margin-bottom: 2px;
  position: relative;
  height: 40px;
  background: #ccc;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .horas .cont_hrs .lista_hrs .hora .dtl {
  left: 5px;
  width: calc(100% - 110px);
  font-size: 18px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .seccion .cont_fecha .horas .cont_hrs .lista_hrs .hora .reserva {
  right: 5px;
  padding: 1px 20px 4px 20px;
  background: #aaa;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .btn_pre {
  height: 85px;
  border-bottom: 1px solid #999;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .m_error {
  font-size: 18px;
  color: #f00;
  padding-bottom: 10px;
  display: none;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .info {
  position: relative;
  min-height: 410px;
  background: #fafafa;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .info .cont_info {
  width: 100%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .info .cont_info .success_titulo {
  text-align: center;
  font-size: 28px;
  padding: 0px 15px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .info .cont_info .success_descripcion {
  text-align: center;
  font-size: 18px;
  padding: 0px 15px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .info .cont_info .success_bajada {
  text-align: center;
  font-size: 16px;
  padding: 0px 15px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .inicio_titulo {
  display: block;
  text-align: center;
  font-size: 46px;
  padding-top: 60px;
  font-family: "Cinzel", serif;
  line-height: 46px;
  height: 600px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .inicio_fotos {
  width: 100%;
  max-width: 850px;
  height: 447px;
  background: #000;
  margin: 20px auto 0px auto;
  overflow: hidden;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .inicio_fotos .foto {
  width: 850px;
  height: 447px;
  position: absolute;
  top: 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .cont_inicio_info {
  width: 90%;
  max-width: 800px;
  height: 260px;
  margin: 0px auto 0px auto;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .cont_inicio_info .inicio_info {
  width: 100%;
  position: absolute;
  top: -40px;
  left: 0px;
  height: 300px;
  background: #fff;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .cont_inicio_info .inicio_info .inicio_info_titulo {
  display: block;
  text-align: center;
  font-size: 32px;
  font-family: "Cinzel", serif;
  padding-top: 30px;
  padding-bottom: 20px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .cont_inicio_info .inicio_info .linea {
  width: 50px;
  height: 4px;
  background: #000;
  margin: 0px auto 30px auto;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .inicio .cont_inicio_info .inicio_info .inicio_info_data {
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: "Cinzel", serif;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .titulo_seccion {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 10px 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .linea {
  width: 50px;
  height: 4px;
  background: #000;
  margin: 0 auto;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont {
  display: block;
  padding: 25px 10px 25px 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros li {
  float: left;
  width: 50%;
  min-width: 200px;
  height: 320px;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros li .ndata .ndatafoto {
  padding: 8px;
  background: #fff;
  border-radius: 114px;
  border: 1px solid #ddd;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros li .ndata .ndatafoto img {
  border-radius: 108px;
  width: 216px;
  height: 216px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros li .ndata .ndatainfo {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li {
  width: 100%;
  padding-top: 20px;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li .nos {
  padding-right: 20px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li .nos .nos_foto {
  width: 220px;
  padding: 8px;
  background: #fff;
  border-radius: 114px;
  border: 1px solid #ddd;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li .nos .nos_foto img {
  border-radius: 108px;
  width: 216px;
  height: 216px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li .nos .nos_desc {
  text-align: center;
  padding: 20px 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li .nos .nos_desc .nos_tit {
  font-size: 24px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .nosotros .sec_cont ul#nosotros2 li .nos .nos_desc .nos_info {
  font-size: 16px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .titulo_seccion {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 10px 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .linea {
  width: 50px;
  height: 4px;
  background: #000;
  margin: 0 auto;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont {
  display: block;
  padding: 25px 10px 25px 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form {
  padding-bottom: 20px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms {
  display: block;
  padding: 0px 4% 0px 4%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms h3 {
  display: block;
  font-size: 18px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms .input input {
  width: 100%;
  height: 35px;
  border: 1px solid #333;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms .input .txta {
  width: 100%;
  height: 65px;
  border: 0px;
  margin-bottom: 10px;
  border: 1px solid #333;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms .acciones {
  padding-top: 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms .acciones input {
  background: #333;
  color: #fff;
  font-size: 14px;
  padding: 8px 28px;
  border: 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_form .cont_forms .felicitaciones {
  display: block;
  font-size: 28px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .contacto .sec_cont .cont_cont .cont_map {
  height: 400px;
  background: #ccc;
  padding-bottom: 20px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .titulo_seccion {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 10px 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .linea {
  width: 50px;
  height: 4px;
  background: #000;
  margin: 0 auto;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont {
  display: block;
  padding: 25px 10px 25px 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li {
  padding-bottom: 20px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_img {
  width: 200px;
  height: 290px;
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_img .cont_ser_img .ser_nombre {
  font-size: 24px;
  text-align: center;
  padding: 6px 0px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_img .cont_ser_img .ser_foto {
  padding: 10px;
  border-radius: 118px;
  background: #fff;
  border: 1px solid #ddd;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_img .cont_ser_img .ser_foto img {
  width: 166px;
  height: 166px;
  border-radius: 108px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data {
  position: relative;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data {
  width: 100%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .ser_titulo {
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 0px 10px 25px 10px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc {
  display: block;
  margin: 0 auto;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .ser_doc_titulo {
  float: left;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .ser_doc_titulo .ser_doc_img {
  text-align: center;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .ser_doc_titulo .ser_doc_img img {
  width: 100px;
  height: 100px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .ser_doc_titulo .ser_doc_nm {
  text-align: center;
  font-size: 18px;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .w1 {
  width: 100%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .w2 {
  width: 50%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .w3 {
  width: 33.33%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .w4 {
  width: 25%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .w5 {
  width: 20%;
}
html body #contenedor .sitio .cont_sitio .sitio_pagina .servicios .sec_cont ul li .ser_data .cont_ser_data .cont_ser_doc .w6 {
  width: 16.66%;
}
html body #contenedor .sitio .cont_sitio .back_inicio {
  background: url("../images/background.jpg") no-repeat;
  background-position-x: center;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media only screen and (min-width: 500px) {
  .contacto .sec_cont .cont_cont .cont_form {
    width: 50%;
    float: left;
  }
  .contacto .sec_cont .cont_cont .cont_map {
    width: 50%;
    float: left;
  }
}
@media only screen and (max-width: 500px) {
  .nosotros .sec_cont ul {
    width: 200px;
    margin: 0 auto;
  }

  .contacto .sec_cont .cont_cont .cont_form {
    width: 100%;
  }
  .contacto .sec_cont .cont_cont .cont_map {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #contenedor .menu {
    display: none;
  }
  #contenedor .sitio .logo_pagina_mobile {
    display: none;
  }
  #contenedor .sitio .logo_pagina_web {
    display: block;
  }
  #contenedor .ser_img {
    float: left;
  }
  #contenedor .ser_data {
    float: left;
    height: 290px;
    width: calc(100% - 200px);
  }
  #contenedor .nos_foto {
    float: right;
  }
  #contenedor .nos_desc {
    float: right;
    width: calc(100% - 254px);
  }
}
@media only screen and (max-width: 768px) {
  #contenedor .menu {
    display: block;
  }
  #contenedor .sitio .logo_pagina_mobile {
    display: block;
  }
  #contenedor .sitio .logo_pagina_web {
    display: none;
  }
  #contenedor .ser_img {
    margin: 0 auto;
  }
  #contenedor .ser_data {
    height: 220px;
    width: 100%;
  }
  #contenedor .nos_foto {
    margin: 0 auto;
  }
  #contenedor .nos_desc {
    height: 220px;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .cont_fecha .detalle {
    width: 100%;
  }
  .cont_fecha .calendario {
    width: 100%;
  }
  .cont_fecha .horas {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  .cont_fecha .detalle {
    width: 35%;
    float: right;
  }
  .cont_fecha .calendario {
    width: 65%;
    float: right;
  }
  .cont_fecha .horas {
    width: 65%;
    float: right;
  }
}

/*# sourceMappingURL=index.css.map */
