html{
    height: 100%;
    body{
        height: 100%;
        font-family: 'Oswald', sans-serif;
        #contenedor{
            display: block;
            min-height: 100%;
            position: relative;
            .m1{
                width: 300px;
                height: 100%;
            }
            .m2{
                width: 100%;
                height: 100px;
            }
            .menu{
                position: fixed;
                .cont_menu{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    .data_menu{
                        width: calc(100% - 20px);
                        padding-right: 20px;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 1;
                        .cont_data_menu{
                            width: 100%;
                            height: 100%;
                            background: #ddd;
                            position: relative;
                            ul{
                                position: absolute;
                                width: 100%;
                                left: 0px;
                                top: 140px;
                                li{
                                    display: block;
                                    border-bottom: 1px solid #ccc;
                                    margin: 5px 10px;
                                    font-size: 20px;
                                }
                            }
                            .info_bottom{
                                position: absolute;
                                width: 100%;
                                left: 0px;
                                bottom: 10px;
                                .info_dtl{
                                    display: block;
                                    padding: 0px 5px;
                                    font-size: 12px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .btn_menu{
                        width: 36px;
                        height: 32px;
                        position: absolute;
                        top: 50px;
                        left: 300px;
                        z-index: 2;
                        .cont_btn_menu{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            .linea{
                                width: 100%;
                                height: 8px;
                                background: #000;
                                position: absolute;
                            }
                            .l1{
                                top: 0px;
                                left: 0px;
                            }
                            .l2{
                                bottom: 0px;
                                left: 0px;
                            }
                        }
                    }
                }
            }
            .pop_up{
                display: none;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
                position: absolute;
                z-index: 6;
                top: 0px;
                left: 0px;
                .cont_pop{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .pop{
                        width: 90%;
                        min-width: 300px;
                        max-width: 360px;
                        background: #fff;
                        border-radius: 10px;
                        .cp{
                            display: block;
                            padding: 30px;
                            position: relative;
                            .close{
                                position: absolute;
                                width: 34px;
                                height: 34px;
                                background: #fff;
                                top: -12px;
                                right: -12px;
                                border-radius: 34px;
                                border: 2px solid #666;
                                .cc{
                                    position: absolute;
                                    background: #666;
                                    transform: rotate(45deg);
                                }
                                .c1{
                                    width: 26px;
                                    height: 4px;
                                    top: 15px;
                                    left: 4px;
                                }
                                .c2{
                                    width: 4px;
                                    height: 26px;
                                    left: 15px;
                                    top: 4px;
                                }
                            }
                            .titulo{
                                font-size: 30px;
                            }
                            .formulario{
                                display: block;
                                form{
                                    padding-top: 15px;
                                    padding-bottom: 15px;
                                    h3{
                                        font-size: 18px;
                                    }
                                    .input{
                                        display: block;
                                        padding-bottom: 4px;
                                        input{
                                            width: calc(100% - 2px);
                                            height: 35px;
                                            border: 1px solid #999;
                                        }
                                        textarea{
                                            width: calc(100% - 2px);
                                            height: 60px;
                                            border: 1px solid #999;
                                        }
                                    }
                                    h6{
                                        font-size: 16px;
                                    }
                                    .acciones{
                                        display: block;
                                        padding-top: 10px;
                                        input{
                                            padding: 10px 30px;
                                            border: 1px solid #999;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sitio{
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 1;
                .cont_sitio{
                    position: relative;
                    overflow-y: scroll;
                    width: 100%;
                    height: 100%;
                    .titulo_pagina{
                        position: fixed;
                        width: 100%;
                        height: 140px;
                        background: #fff;
                        z-index: 2;
                        border-bottom: 1px solid #999;
                        .logo_pagina_mobile{
                            width: 240px;
                            height: 100px;
                            background: #666;
                        }
                        .logo_pagina_web{
                            width: 96%;
                            max-width: 850px;
                            height: 100px;
                            .cont_logo{
                                width: 100%;
                                height: 100%;
                                position: relative;
                                .logo{
                                    width: 240px;
                                    height: 100px;
                                    left: 0px;
                                    background: #999;
                                    cursor: pointer;
                                }
                                .botones{
                                    width: calc(100% - 240px);
                                    right: 0px;
                                    .btns{
                                        padding: 10px 0px;
                                        .btn{
                                            float: right;
                                            font-size: 18px;
                                            text-align: right;
                                            color: #999;
                                            font-weight: bold;
                                            cursor: pointer;
                                        }
                                        .btn1{
                                            width: 110px;
                                        }
                                        .btn2{
                                            width: 159px;
                                        }
                                        .btn3{
                                            width: 120px;
                                        }
                                        .btn4{
                                            width: 100px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .sitio_pagina{
                        position: absolute;
                        top: 141px;
                        left: 0px;
                        width: 100%;
                        z-index: 1;
                        margin: 10px 0px;
                        .seccion{
                            width: 96%;
                            max-width: 850px;
                            margin: 0px auto;
                            .preguntas{
                                width: 100%;
                                .pregunta{
                                    float: left;
                                    width: 25%;
                                    height: 85px;
                                    position: relative;
                                    color: #666;
                                    .data{
                                        width: 92%;
                                        left: 4%;
                                        h2{
                                            font-size: 14px;
                                        }
                                        h1{
                                            font-size: 2.2em;
                                            line-height : 20px;
                                            text-shadow: 1px 1px #fff;
                                        }
                                    }
                                    .close{
                                        cursor: pointer;
                                        width: 16px;
                                        height: 16px;
                                        position: absolute;
                                        transform: rotate(45deg);
                                        top: 4px;
                                        right: 4px;
                                        .cont_close{
                                            position: relative;
                                            width: 100%;
                                            height: 100%;
                                            .line{
                                                background: #666;
                                            }
                                            .l1{
                                                width: 100%;
                                                height: 3px;
                                            }
                                            .l2{
                                                height: 100%;
                                                width: 3px;
                                            }
                                        }
                                    }
                                }
                                .selected{
                                    background: #666;
                                    color: #fff;
                                }
                            }
                            .info_titulo{
                                display: block;
                                font-size: 26px;
                                color: #999;
                                padding-left: 10px;
                                padding-top: 10px;
                                padding-right: 10px;
                            }
                            .info_subtitulo{
                                display: block;
                                font-size: 16px;
                                color: #999;
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            .list_servicios{
                                display: block;
                                padding-top: 25px;
                                padding-left: 10px;
                                padding-right: 10px;
                                .servicio{
                                    display: block;
                                    font-size: 20px;
                                    padding: 10px 6px;
                                    border-bottom: 1px solid #999;
                                    color: #666;
                                    cursor: pointer;
                                }
                            }
                            .list_doctores{
                                display: block;
                                padding-top: 20px;
                                padding-left: 10px;
                                padding-right: 10px;
                                .doctor{
                                    display: block;
                                    font-size: 20px;
                                    padding: 10px 6px;
                                    border-bottom: 1px solid #999;
                                    color: #666;
                                    cursor: pointer;
                                }
                            }
                            .cont_fecha{
                                display: block;
                                .detalle{
                                    .cont_dtl{
                                        padding: 15px 10px 5px 10px;
                                        color: #666;
                                        .dtl_titulo{
                                            font-size: 28px;
                                        }
                                        .dtl_descripcion{
                                            font-size: 15px;
                                            padding-top: 6px;
                                        }
                                        .dtl_doctor{
                                            font-size: 15px;
                                        }
                                        .dtl_precio{
                                            font-size: 15px;
                                        }
                                        .dtl_tiempo{
                                            font-size: 15px;
                                        }
                                        .dtl_html_1{
                                            font-size: 14px;
                                            padding-top: 10px;
                                            text-align: justify;
                                        }
                                    }
                                }
                                .calendario{
                                    background: #bbb;
                                    .table_calendar{
                                        background: #fff;
                                        padding: 5px 5px 0px 5px;
                                        .calendar_titulo{
                                            font-size: 22px;
                                            text-align: center;
                                            padding: 8px;
                                            border-left: 1px solid #000;
                                            border-right: 1px solid #000;
                                            border-top: 1px solid #000;
                                        }
                                        .row_calendar{
                                            border-right: 1px solid #000;
                                            .calendar_semana{
                                                background: #33c;
                                                width: calc(14.2857% - 1px);
                                                float: left;
                                                height: 40px;
                                                border-top: 1px solid #000;
                                                border-bottom: 1px solid #000;
                                                border-left: 1px solid #000;
                                                position: relative;
                                                color: #fff;
                                                .semana_info{
                                                    text-align: center;
                                                    font-size: 18px;
                                                }
                                            }
                                            .calendar_dia{
                                                border-left: 1px solid #000;
                                                border-bottom: 1px solid #000;
                                                width: calc(14.2857% - 1px);
                                                float: left;
                                                height: 40px;
                                                position: relative;
                                                .dia_info{
                                                    text-align: center;
                                                    font-size: 14px;
                                                    .cont_dia_info{
                                                        background: #99f;
                                                        width: 96%;
                                                        height: 96%;
                                                    }
                                                }
                                            }
                                            .calendar_dia2{
                                                width: 14.2857%;
                                                float: left;
                                                height: 0px;
                                            }
                                            .calendar_dia3{
                                                border-left: 1px solid #000;
                                                border-bottom: 1px solid #000;
                                                width: calc(14.2857% - 1px);
                                                float: left;
                                                height: 40px;
                                            }
                                            .selected{
                                                background: #ddd;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                                .horas{
                                    overflow-y: scroll;
                                    height: 410px;
                                    .cont_hrs{
                                        padding: 5px 10px;
                                        .titulo_hrs{
                                            font-size: 22px;
                                            padding-bottom: 10px;
                                        }
                                        .lista_hrs{
                                            .espacio{
                                                display: block;
                                                height: 30px;
                                            }
                                            .hora{
                                                margin-bottom: 3px;
                                                position: relative;
                                                height: 46px;
                                                background: #f0f0f0;
                                                .dtl{
                                                    left: 10px;
                                                    width: calc(100% - 110px);
                                                    font-size: 20px;
                                                }
                                                .reserva{
                                                    right: 10px;
                                                    padding: 0px 20px 4px 20px;
                                                    background: #ccc;
                                                    text-align: center;
                                                    font-size: 20px;
                                                    color: #fff;
                                                    cursor: pointer;
                                                }
                                                .reservado{
                                                    right: 10px;
                                                    text-align: center;
                                                    font-size: 20px;
                                                    color: #999;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .btn_pre{
                            height: 85px;
                            border-bottom: 1px solid #999;
                        }
                        .m_error{
                            font-size: 18px;
                            color: #f00;
                            padding-bottom: 10px;
                            display: none;
                        }
                        .info{
                            position: relative;
                            min-height: 410px;
                            background: #fafafa;
                            .cont_info{
                                width: 100%;
                                .success_titulo{
                                    text-align: center;
                                    font-size: 28px;
                                    padding: 0px 15px;
                                }
                                .success_descripcion{
                                    text-align: center;
                                    font-size: 18px;
                                    padding: 0px 15px;
                                }
                                .success_bajada{
                                    text-align: center;
                                    font-size: 16px;
                                    padding: 0px 15px;
                                }
                            }
                        }
                        .inicio{
                            .inicio_titulo{
                                display: block;
                                text-align: center;
                                font-size: 46px;
                                padding-top: 60px;
                                font-family: 'Cinzel', serif;
                                line-height : 46px;
                                height: 600px;
                            }
                            .inicio_fotos{
                                width: 100%;
                                max-width: 850px;
                                height: 447px;
                                background: #000;
                                margin: 20px auto 0px auto;
                                overflow: hidden;
                                position: relative;
                                .foto{
                                    width: 850px;
                                    height: 447px;
                                    position: absolute;
                                    top: 0px;
                                }
                            }
                            .cont_inicio_info{
                                width: 90%;
                                max-width: 800px;
                                height: 260px;
                                margin: 0px auto 0px auto;
                                position: relative;
                                .inicio_info{
                                    width: 100%;
                                    position: absolute;
                                    top: -40px;
                                    left: 0px;
                                    height: 300px;
                                    background: #fff;
                                    .inicio_info_titulo{
                                        display: block;
                                        text-align: center;
                                        font-size: 32px;
                                        font-family: 'Cinzel', serif;
                                        padding-top: 30px;
                                        padding-bottom: 20px;
                                    }
                                    .linea{
                                        width: 50px;
                                        height: 4px;
                                        background: #000;
                                        margin: 0px auto 30px auto;
                                    }
                                    .inicio_info_data{
                                        display: block;
                                        text-align: center;
                                        font-size: 18px;
                                        font-family: 'Cinzel', serif;
                                    }
                                }
                            }
                        }
                        .nosotros{
                            .titulo_seccion{
                                display: block;
                                font-size: 32px;
                                text-align: center;
                                padding: 10px 0px;
                            }
                            .linea{
                                width: 50px;
                                height: 4px;
                                background: #000;
                                margin: 0 auto;
                            }
                            .sec_cont{
                                display: block;
                                padding: 25px 10px 25px 10px;
                                ul#nosotros{
                                    li{
                                        float: left;
                                        width: 50%;
                                        min-width: 200px;
                                        height: 320px;
                                        position: relative;
                                        .ndata{
                                            .ndatafoto{
                                                padding: 8px;
                                                background: #fff;
                                                border-radius: 114px;
                                                border: 1px solid #ddd;
                                                img{
                                                    border-radius: 108px;
                                                    width: 216px;
                                                    height: 216px;
                                                }
                                            }
                                            .ndatainfo{
                                                text-align: center;
                                                padding-top: 20px;
                                                font-size: 24px;
                                            }
                                        }
                                    }
                                }
                                ul#nosotros2{
                                    li{
                                        width: 100%;
                                        padding-top: 20px;
                                        position: relative;
                                        .nos{
                                            padding-right: 20px;
                                            .nos_foto{
                                                width: 220px;
                                                padding: 8px;
                                                background: #fff;
                                                border-radius: 114px;
                                                border: 1px solid #ddd;
                                                img{
                                                    border-radius: 108px;
                                                    width: 216px;
                                                    height: 216px;
                                                }
                                            }
                                            .nos_desc{
                                                text-align: center;
                                                padding: 20px 0px;
                                                .nos_tit{
                                                    font-size: 24px;
                                                }
                                                .nos_info{
                                                    font-size: 16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .contacto{
                            .titulo_seccion{
                                display: block;
                                font-size: 32px;
                                text-align: center;
                                padding: 10px 0px;
                            }
                            .linea{
                                width: 50px;
                                height: 4px;
                                background: #000;
                                margin: 0 auto;
                            }
                            .sec_cont{
                                display: block;
                                padding: 25px 10px 25px 10px;
                                .cont_cont{
                                    .cont_form{
                                        padding-bottom: 20px;
                                        .cont_forms{
                                            display: block;
                                            padding: 0px 4% 0px 4%;
                                            h3{
                                                display: block;
                                                font-size: 18px;
                                            }
                                            .input{
                                                input{
                                                    width: 100%;
                                                    height: 35px;
                                                    border: 1px solid #333;
                                                }
                                                .txta{
                                                    width: 100%;
                                                    height: 65px;
                                                    border: 0px;
                                                    margin-bottom: 10px;
                                                    border: 1px solid #333;
                                                }
                                            }
                                            .acciones{
                                                padding-top: 10px;
                                                input{
                                                    background: #333;
                                                    color: #fff;
                                                    font-size: 14px;
                                                    padding: 8px 28px;
                                                    border: 0px;
                                                }
                                            }
                                            .felicitaciones{
                                                display: block;
                                                font-size: 28px;
                                            }
                                        }
                                    }
                                    .cont_map{
                                        height: 400px;
                                        background: #ccc;
                                        padding-bottom: 20px;
                                    }
                                }
                            }
                        }
                        .servicios{
                            .titulo_seccion{
                                display: block;
                                font-size: 32px;
                                text-align: center;
                                padding: 10px 0px;
                            }
                            .linea{
                                width: 50px;
                                height: 4px;
                                background: #000;
                                margin: 0 auto;
                            }
                            .sec_cont{
                                display: block;
                                padding: 25px 10px 25px 10px;
                                ul{
                                    li{
                                        padding-bottom: 20px;
                                        .ser_img{
                                            width: 200px;
                                            height: 290px;
                                            position: relative;
                                            .cont_ser_img{
                                                .ser_nombre{
                                                    font-size: 24px;
                                                    text-align: center;
                                                    padding: 6px 0px;
                                                }
                                                .ser_foto{
                                                    padding: 10px;
                                                    border-radius: 118px;
                                                    background: #fff;
                                                    border: 1px solid #ddd;
                                                    img{
                                                        width: 166px;
                                                        height: 166px;
                                                        border-radius: 108px;
                                                    }
                                                }
                                            }
                                        }
                                        .ser_data{
                                            position: relative;
                                            .cont_ser_data{
                                                width: 100%;
                                                .ser_titulo{
                                                    display: block;
                                                    text-align: center;
                                                    font-size: 30px;
                                                    padding: 0px 10px 25px 10px;
                                                }
                                                .cont_ser_doc{
                                                    display: block;
                                                    margin: 0 auto;
                                                    cursor: pointer;
                                                    .ser_doc_titulo{
                                                        float: left;
                                                        .ser_doc_img{
                                                            text-align: center;
                                                            img{
                                                                width: 100px;
                                                                height: 100px;
                                                            }
                                                        }
                                                        .ser_doc_nm{
                                                            text-align: center;
                                                            font-size: 18px;
                                                        }
                                                    }
                                                    .w1{
                                                        width: 100%;
                                                    }
                                                    .w2{
                                                        width: 50%;
                                                    }
                                                    .w3{
                                                        width: 33.33%;
                                                    }
                                                    .w4{
                                                        width: 25%;
                                                    }
                                                    .w5{
                                                        width: 20%;
                                                    }
                                                    .w6{
                                                        width: 16.66%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .back_inicio{
                        background: url('../images/background.jpg') no-repeat;
                        background-position-x: center;
                    }
                }
            }
        }
    }
}
.grecaptcha-badge { 
    visibility: hidden;
}
@media only screen and (min-width: 500px){

    .nosotros{
        .sec_cont{
            ul{}
        }
    }
    .contacto{
        .sec_cont{
            .cont_cont{
                .cont_form{
                    width: 50%;
                    float: left;
                }
                .cont_map{
                    width: 50%;
                    float: left;
                }
            }
        }
    }

}
@media only screen and (max-width: 500px){

    .nosotros{
        .sec_cont{
            ul{
                width: 200px;
                margin: 0 auto;
            }
        }
    }
    .contacto{
        .sec_cont{
            .cont_cont{
                .cont_form{
                    width: 100%;
                }
                .cont_map{
                    width: 100%;
                }
            }
        }
    }

}

@media only screen and (min-width: 768px){
    #contenedor{
        .menu{
            display: none;
        }
        .sitio{
            .logo_pagina_mobile{
                display: none;
            }
            .logo_pagina_web{
                display: block;
            }
        }
        .ser_img{
            float: left;
        }
        .ser_data{
            float: left;
            height: 290px;
            width: calc(100% - 200px);
        }
        .nos_foto{
            float: right;
        }
        .nos_desc{
            float: right;
            width: calc(100% - 254px);
        }
    }
}
@media only screen and (max-width: 768px){
    #contenedor{
        .menu{
            display: block;
        }
        .sitio{
            .logo_pagina_mobile{
                display: block;
            }
            .logo_pagina_web{
                display: none;
            }
        }
        .ser_img{
            margin: 0 auto;
        }
        .ser_data{
            //margin: 0 auto;
            height: 220px;
            width: 100%;
        }
        .nos_foto{
            margin: 0 auto;
        }
        .nos_desc{
            height: 220px;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 500px){
    .cont_fecha{
        .detalle{
            width: 100%;
        }
        .calendario{
            width: 100%;
        }
        .horas{
            width: 100%;
        }
    }
}
@media only screen and (min-width: 500px){
    .cont_fecha{
        .detalle{
            width: 35%;
            float: right;
        }
        .calendario{
            width: 65%;
            float: right;
        }
        .horas{
            width: 65%;
            float: right;
        }
    }
}
